<nav class="navbar navbar-expand-lg bg-body-tertiary nav">
    <div class="container-fluid barre">
      <a routerLink="/" class="logo"
        ><img 
        src='assets/Logo_au_petit_village.jpg '

          alt="Logo"
          class="Logo"
      /></a>
      <div class="collapse navbar-collapse navb" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link bar" routerLink="/about">À Propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bar" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
