<footer class="foot">
    <div class="lien">
      <a href="https://www.facebook.com/" target="_blank"
        ><img src="assets/icons8-facebook-48.png" alt="facebook"
      /></a>
  
      <a href="https://x.com/?lang=en" target="_blank"
        ><img src="assets/icons8-twitter-48.png" alt="twiter"
      /></a>
  
      <a href="https://www.linkedin.com/" target="_blank"
        ><img src="assets/icons8-linkedin-48.png" alt="linkedin"
      /></a>
    </div>
    <p class="copyright">copyright 2025</p>
  </footer>
