.foot {
    background-color: #FDD90B;
  }
  .lien {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  .copyright {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-bottom: 0;
  }
  p {
    font-family: "Comfortaa", sans-serif;
  }