@font-face {
    font-family: "Bubbleboddy neue";
    src: url("../assets/fonts/BubbleboddyNeue-Bold-Trial.ttf")format('truetype');
  }
  @font-face {
    font-family: "Comfortaa";
    src: url("../assets/fonts/Comfortaa-Light.ttf")format('truetype') ;
  }