<app-header />
<div class="accueil">
  <h1>Bienvenue Au petit village</h1>
  <p>
    Dans le magasin "Au petit village", une activité insolite et passionnante
    attire l'attention des habitants et des visiteurs : la vente de figurines
    faites à la main, inspirées des célèbres personnages d'Astérix et Obélix !
    Imaginez des pièces uniques et pleines de caractère, façonnées avec soin et
    détails par des artisans locaux, apportant ainsi une touche de magie
    gauloise à chaque foyer. <br />
    Cependant, attention à toi, cher visiteur ! Car dans ces contrées gauloises,
    la maladresse peut parfois mener à des situations cocasses. Vous pourriez
    vous retrouver face à une armée de légionnaires romains miniatures, prêts à
    envahir votre salon, ou même assister à un banquet gargantuesque où le
    sanglier rôti et la potion magique coulent à flots !
    <br />
    Alors, que vous soyez fan d'histoire, de bande dessinée ou simplement à la
    recherche d'une touche d'humour et de fantaisie, laissez-vous séduire par
    l'univers unique d'Astérix et Obélix, revisité avec créativité et bonne
    humeur dans ce village hors du commun. Préparez-vous à vivre des aventures
    aussi épiques que loufoques, car ici, la magie gauloise opère Au petit
    vallage !
  </p>
  <div class="carde">
    <h2>Catalogue de Produits</h2>
    <app-card />
  </div>
</div>
<app-footer />
